@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Activity Log</h1>
    <p>To start recording your activities, kindly click on the activities tab.</p>
    <img src="https://campuses.southtexascollege.edu/graphics/mid-valley-campus.jpg" style="margin: 0 auto; width: 100%;"/>
</div>
