@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Activity Log</h1>
    <p>To start recording your activities, kindly click on the activities tab.</p>
</div>
